<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bitefu.mapper.SelectMobileMapper">

    <select id="SelectPhoneByMySql" resultType="int" parameterType="java.lang.String">
        SELECT COUNT(1) FROM phone WHERE mobile =#{mobiles}
    </select>


</mapper>